


<html>

<div class="escola">
  <h4>ESCOLA</h4>
</div>

<section class="botao-escola">

   <div class="div-escola">

  <button class="botao-escola" (click)="desaparecer(conteudoescola1)">
    EMEF ANTÔNIO DUARTE DE ALMEIRA
  </button>

  <div class="conteudoescola" #conteudoescola1>
    <img src="../../assets/images/balao-1.jpg">
    <p>Professora realiza rodas de conversa quinzenais com as imigrantes africanas mães dos alunos para falar sobre temas como o racismo, os direitos sexuais e reprodutivos, num trabalho feito permanentemente dentro da escola.</p>
  </div>
  </div>

  <div class="div-escola">

    <button class="botao-escola" (click)="desaparecer2(conteudoescola2)">
      EMEF JOAQUIM FRANCISCO
    </button>

    <div class="conteudoescola" #conteudoescola2>
      <img src="../../assets/images/balao-1.jpg">
      <p>Professora realiza rodas de conversa quinzenais com as imigrantes africanas mães dos alunos para falar sobre temas como o racismo, os direitos sexuais e reprodutivos, num trabalho feito permanentemente dentro da escola.</p>
    </div>
  </div>


</section>


